<p-blockUI [blocked]="isLoading">
    <i class="pi pi-spin pi-spinner"
      style="position:absolute;top:50%;left:47%;color: black;font-size: 100px;"></i>
  </p-blockUI>

  <p-card class="signup-box">
    <div class="ui-g" style="text-align: center;">
      <div class="ui-g-12">
        <h3 class="reset-password-title">Create a New Password</h3>
        <form novalidate [formGroup]="changePasswordForm">
          <p-message *ngIf="error" severity="error" [text]="message" [escape]="true"></p-message>
  
          <div class="form-group form-input-margins" style="width: 100%; min-width: 400px;">
            <label>Enter new password</label>
            <p-password id="password" class="placeholder_password"  [(ngModel)]="editedPassword" [feedback]="false" [toggleMask]="true" name="password" formControlName="password" ></p-password>

            <span class="help-block" *ngIf="(changePasswordForm.get('password').touched ||
               changePasswordForm.get('password').dirty) &&
               changePasswordForm.get('password').errors">
              <span *ngIf="changePasswordForm.get('password').errors">
                The password you entered is not secure. 
              </span>
            </span>
          </div>

          <div class="form-group form-input-margins" style="width: 100%; min-width: 400px;">
            <label>Retype new password</label>

            <p-password id="confirmPassword" class="placeholder_password"  [(ngModel)]="editedConfirmPassword" [feedback]="false" [toggleMask]="true" name="confirmPassword" formControlName="confirmPassword" ></p-password>

            <span class="help-block" *ngIf="(changePasswordForm.get('confirmPassword').touched ||
            changePasswordForm.get('confirmPassword').dirty) &&
            changePasswordForm.get('confirmPassword').errors">
              <span *ngIf="changePasswordForm.get('confirmPassword').errors">
                The password you entered is not secure.
              </span>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center">
      <div>
        <button
          class="hover-button"
          pButton
          label="Change Password"
          type="button"
          (click)="changePassword()"
        ></button>
      </div>
      <div style="margin-top: 10px;">
        <button
          class="hover-button"
          pButton
          label="Move To Login"
          type="button"
          (click)="moveToLogin()"
        ></button>
      </div>
    </div>
  </p-card>
  