@import "primeicons/primeicons.css";

.card {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .ui-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .AddUpdateForm {
    margin-top: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  p-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* span {
    color: red;
    display: block;
    margin-top: 4px;
  } */
  
  /* button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
   */
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .p-text-right {
    text-align: right;
    margin-top: 20px;
  }
  
  .p-progressSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .p-sidebar {
    display: contents !important;

  }

  .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #ca1616;
  }
  .pointer-none {
    pointer-events: none; 
}
.pointer-none:focus {
    outline-style: none;
	box-shadow: none;
	border-color: #D4D6D9;
}