<p-blockUI [blocked]="isLoading">
    <i class="pi pi-spin pi-spinner"
      style="position:absolute;top:50%;left:47%;color: black;font-size: 100px;"></i>
  </p-blockUI>
    
  <p-toast position="top-right" life="5000"></p-toast>


  <p-card [ngClass]="{'ui-g-12': true}" *ngIf="!emailSent">
    <div class="ui-g">
      <p-message *ngIf="!isUserExists" severity="error" text="Your email address cannot be found in our registration system." [escape]="true"></p-message>
      <div class="ui-g-12">
        <div style="text-align: center;">
          <span style="font-size: 16px;">Enter the email address you used at registration to reset your password.</span>
        </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-12" style="margin-top: 10px;margin-left: 500px;
          margin-right: 500px">
            <input  id="email" pInputText name="email"  [(ngModel)]="email"  (input)="onInputEmail()"
                     />
          </div>
          <div class="ui-g-12" style="text-align: center; margin-top: 20px;">
            <p-button
              type="button"
              (click)="onContinue()"
              *ngIf="!isLoading"
            >
              Continue to Reset My Password
            </p-button>
          </div>
          <div class="ui-g-12" style="text-align: center; margin-top: 10px;">
            <p-button  (click)="moveToLogin()" *ngIf="!isLoading">Cancel resetting password</p-button>
          </div>
      </div>
      <div class="ui-g-12" style="margin-top: 20px; text-align: center;">
        <p>If you have forgotten your email address,</p>
        <p>Please call 666-666-666, 8:00 am - 8:00 pm, Monday - Friday.</p>
      </div>
    </div>
  </p-card>

  <p-card [ngClass]="{'ui-g-12': true}" *ngIf="emailSent">
    <div class="ui-g">
      <div class="ui-g-12">
        <p>We have sent an email to {{ email }} with instructions on how to reset your password.</p>
        <p>If you do not receive the email, you may not be registered with us.</p>
        <p><a routerLink="/registration">Click here</a> to register</p>
        <p>If the email is not in your inbox, please check your spam folder.</p>
        <p>If you encounter any issues, please call 666-666-666, 8:00 am - 8:00 pm, Monday - Friday.</p>
        <p>
          If you have not received any email and want to resend the email.
          <a style="color: blue; cursor: pointer;" (click)="sendForgotPasswordMail(email)">Click here</a>
        </p>
      </div>
      <div class="ui-g-12" style="margin-top: 10px;">
        <p-button
          style="background-color: rgba(218, 17, 17, 0.622);"
          (click)="moveToLogin()"
          *ngIf="!isLoading"
        >
          Move to login
        </p-button>
      </div>
    </div>
  </p-card>
  